.spinner_container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
}
