ul {
  padding-left: 0;
  list-style: none;
}

.rocketsContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.8rem;
  width: 98%;
  margin: 0 auto;
  font-family: sans-serif;
}

.rocket {
  display: flex;
  gap: 2rem;
}

.imageContainer img {
  width: 28rem;
  height: 20rem;
}

.rocketDetails {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.rocketDetails > * {
  margin: 0;
}

.reserve {
  width: 18rem;
  padding: 0.9rem 0.4rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.8rem;
}
