ul {
  padding-left: 0;
  list-style: none;
}

.rocketsContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.rocket {
  display: flex;
  gap: 2rem;
}

.imageContainer img {
  width: 20rem;
  height: 15rem;
}

.rocketDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rocketDetails > * {
  margin: 0;
}

.reserve {
  width: 13rem;
  padding: 0.7rem 0.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
