table {
  padding: 1rem 2rem;
}

.table_header_row {
  background-color: #fff;
}

td {
  margin: 0;
  padding: 0.8rem;
  border: 1px solid grey;
}

.table_header {
  text-align: left;
  font-size: 1.6rem;
}

.mission_name {
  width: 10%;
  font-size: 1.5rem;
  font-weight: bold;
}

.mission_description {
  width: 70%;
  font-size: 1.3rem;
}
